<form (ngSubmit) ="onSavedClicked()">
    <div for="name">
        <label>Nombre de la receta:</label>
    </div>
    <input type="text" name="name" id="name" [(ngModel)]="name" />
    <div for="description">
        <label>Descripcion:</label>
    </div>
    <input type="text" name="description" id="description" [(ngModel)]="description" />
    <div for="name">
        <label>Ingredientes:</label>
    </div>
    <input type="text" name="ingredients" id="ingredients" [(ngModel)]="ingredients" />
    <div for="Imagen">
        <label>Imagen:</label>
    </div>
    <input type="text" name="image" id="image" [(ngModel)]="image" />
    <button type="submit">{{buttonText}}</button>
</form>
