<div class="container main-container">
    <h1>Todas las recetas:</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for(recipe of recipes; track recipe.id){
            <div class="col">
                <div class="card w-55 h-100">
                  <img src="{{recipe.imageUrl}}" class="card-img-top" alt="...">
                  <div class="card-body" >
                    <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text">{{recipe.description}}</p>
                    <a routerLink="/recipes/{{recipe.id}}" class="btn btn-info btn-sm">¿Cómo prepararlo?</a>
                  </div>
                </div>
             </div>        
        }@empty {
            Empty recipe list
        }
      </div>
</div>

